body {
    color:rgb(255, 255, 255);
    background:rgb(82, 0, 0);
    margin: 0px;
    font-family: "Matemasie", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(77, 2, 2);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.chamada {
    background: rgb(145, 4, 4);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;  
}

.chamada-texto{
    margi-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-video {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-video img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videoimg:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(245, 245, 245);
}